<a class="list-group-item d-flex w-100" style="cursor: pointer;" [routerLink]="[id]" routerLinkActive="active">
    <div class="float-left w-75">
        <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
        <p class="list-group-item-text text-dark">{{ (recipe.description.length > 35) ? (recipe.description | slice:0:35)+"..." : recipe.description }}</p>
    </div>
    <span class="mx-auto align-self-center"><img [src]="recipe.image" alt="{{ recipe.description}}" class="img-responsive" style="max-height: 50px;"></span>
</a>
